


<h1 style="text-align: center">Edit <%= @team.name.capitalize %></h1>

<form style="text-align: center" action="/teams/<%= @team.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <h3>Change Team Name</h3>
    <input type="text" name="team_name" value="<%= @team.name %>">

    <br><br><br>

    <input type="submit" value="Change Team Name">
</form>
<br><br><br>
<p style="float: right;"><a href="/users/<%= current_user.id %>">Home</a><br><br> 
<a href="/teams/<%= @team.id %>">Team Home</a></p>

 