
<div style="text-align: center;">
<h1><%= @team.name.titleize %></h1>
<h3>Team Roster</h3><br><br>
<% @team.players.each do |player| %>
    <p><%= player.position.titleize %><br><br>
    <%= player.name.titleize %></p>
    <form action="/players" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="player_id" value="<%= player.id %>">
        <input type="hidden" name="team_id" value="<%= @team.id %>">
        <input type="submit" value="Delete Player"><br><br><br><br>
    </form>

<% end %>
<br><br>
<div style="float: left;">
<form action="/players" method="post">
    <input type="text" name="name" placeholder="Enter Player Name"><br><br>
    
    <% ['Running Back', 'Quarterback', 'Receiver'].each do |position| %>
        <p><input type="radio" name="position" value="<%= position %>"><%= position %></p>
    <% end %>

    <input type="hidden" name="team_id" value="<%= @team.id %>">
    
    <input type="submit" value="Add Player to Team"><br><br>
</form>
</div>
<br><br>
<div style="float: right;">
<p><a href="/users/<%= current_user.id %>">Home</a><br><br>
<a href="/teams/<%= @team.id %>/edit">Change Team Name</a><br><br>
<a href="/logout">Log Out</a></p>

</div>
</div>