<div style="text-align: center;">

<% if @user.errors.any? %>
    <div id="error_explanation">
        <% @user.errors.full_messages.each do |message| %>
            <ul>
                <li><%= message %></li>
            </ul>
        <% end %>
    </div>
<% end %>



<h1>Update User Profile</h1>


<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="user[username]" value="<%= @user.username %>"><br><br>
    <input type="email" name="user[email]" value="<%= @user.email %>"><br><br>

    <input type="submit" value="Update Profile">
</form>
<br>
<p>or</p>
<form action="/users" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Your Account">
</form>
<br><br>
<a style="float: right;" href="/users/<%= @user.id %>">Home</a><br><br>
<a style="float: right;" href="/logout">Log Out</a>

</div>