<div style="text-align: center;">


<h2>Username: <%= @user.username.titleize %>     Email: <%= @user.email %></h2>  

<br>

<h3>Current Leagues:</h3>
<% @user.leagues.each do |league| %>
    <a href="/leagues/<%= league.id %>"><%= league.name.titleize %></a><br><br>
    <form action="/teams" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="league_id" value="<%= league.id %>">
        <input type="submit" value="Quit League">
    </form>
    <br><br><br>
<% end %>
<br><br><br><br><br>


<a href="/users/<%= @user.id %>/edit" style="float: right;">Update Profile</a><br><br>
<a href="/leagues/join" style="float: left;">Join a League</a>
<a href="/logout" style="float: right;">Log out</a>

</div>