<h2>Username: <%= @user.username %>     Email: <%= @user.email %></h2>  

<a href="/users/<%= @user.id %>/edit"><button>Update Profile</button></a><br><br><br>

<h3>Current Leagues:</h3>
<% @user.leagues.each do |league| %>
    <a href="/leagues/<%= league.id %>"><%= league.name %></a><br><br><br>
<% end %>
<br><br><br>
<a href="/leagues/new">Join/Create League</a>
<a href="/teams/new">Create New Team</a>
<a href="/logout">Log out</a>