
<div style="text-align: center">
<h1><%= @league.name.titleize %> League</h1>
<br><br>

<h4>Teams</h4><br>
<% @league.teams.each do |team| %>

    <p>Team: <% if team.user == current_user %> 
                <a href="/teams/<%= team.id %>"><%= team.name.titleize %></a>
             <% else %>
                <%= team.name.titleize %>
             <% end %> 
    <br><br>
    User: <%= team.user.username.titleize %></p><br>

<% end %>

<br><br><br>

<a href="/users/<%= current_user.id %>" style="float: right;">Home</a><br><br>
<a href="/logout" style="float: right;">Log Out</a><br><br>


</div>